## Environment ##
NODE_ENV=


## Server ##
PORT=


PROVIDER_URL=
WS_PROVIDER_URL=
CONTRACT_ADDRESS=
CONTRACT_ABI=

## REDIS ##
REDIS_URL=
STREAM_KEY=

CONFIRMATIONS=
POLL_INTERVAL_MS=
START_BLOCK_BACKOFF=
BATCH_BLOCKS=
MAX_RANGE_SIZE=


